<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  Value: {{ myForm.value | json}}

  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="nombre">
      <mat-error *ngIf="myForm.get('nombre').hasError('required')">El nombre es obligatorio</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Apellido:</mat-label>
      <input matInput formControlName="apellido">
      <mat-error *ngIf="myForm.get('apellido').hasError('required')">El apellido es obligatorio</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" autocomplete="email">
      <mat-error *ngIf="myForm.get('email').hasError('required')">El email es obligatorio</mat-error>
      <mat-error *ngIf="myForm.get('email').hasError('email')">Ingresa un correo electrónico válido</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Confirmar Email:</mat-label>
      <input matInput formControlName="confirmarEmail">
      <mat-error *ngIf="myForm.get('confirmarEmail').hasError('emailNoCoincide') && myForm.get('confirmarEmail').touched">Los correos electrónicos no coinciden</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Teléfono:</mat-label>
      <input matInput formControlName="telefono" autocomplete="tel">
      <mat-error *ngIf="myForm.get('telefono').hasError('required')">El teléfono es obligatorio</mat-error>
      <mat-error *ngIf="myForm.get('telefono').hasError('pattern')">Ingresa solo números en el teléfono</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Contraseña:</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="password.invalid && password.errors?.['required']">La contraseña es obligatoria</mat-error>
      <mat-error *ngIf="password.invalid && password.errors?.['pattern']">La contraseña debe contener al menos un número y una letra</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-checkbox formControlName="recibirNotificaciones">Recibir notificaciones</mat-checkbox>
  </div>

  <div class="form-row">
    <mat-checkbox formControlName="aceptarTerminos">Acepto los términos y condiciones</mat-checkbox>
    <mat-error *ngIf="formSubmitted && myForm.get('aceptarTerminos').hasError('requiredTrue')">Debes aceptar los términos y condiciones.</mat-error>
  </div>
  
  <div class="form-row">
    <button mat-button type="submit">Enviar</button>
  </div>
  
</form>